// Alternative style

// $background-color: #373a40;
// $foreground-color: #eeeeee;
// $primary-color: #80ffdb;
// $decoration-color: #5e60ce;
// $text-color: #121f31;
// $shadow-color: rgba(0, 0, 0, 0.25);

$background-light-color: #24426a;
$background-color: #191d32;
$background-dark-color: #191d32;
$foreground-color: #f1faee;
$primary-color: #e63946;
$decoration-color: #447a9c;
$text-color: #121f31;
$shadow-color: rgba(0, 0, 0, 0.25);
