@import "colors";
@import "background-patterns";

html {
  font-family: Arial, sans-serif, sans;
  background-color: $background-color;
  @include topography-background($background-color, $decoration-color);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
  width: 60%;
  min-height: 100vh;
  margin: auto;
  padding: 5em 2em;
  background: $foreground-color;
  color: $text-color;
  box-shadow: 0 1px 4px 4px $shadow-color;
}

button,
input {
  margin: 0 0.5em;
  padding: 0.5em 1em;
  border-radius: 2em;
  border: none;
  box-shadow: 0 1px 2px 1px $shadow-color;
}

button,
input[type="button"],
input[type="submit"] {
  padding: 1em 2em;
  background: $primary-color;
  font-weight: bold;
  transition: 0.1s ease-in-out 0s;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  width: 100%;
}

.tab-button {
  opacity: 0.7;
  background: none;
  box-shadow: none;

  &.active {
    opacity: 1;
    background-color: $primary-color;
  }

  &:hover {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

.sound-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 150px));
  justify-content: space-between;
  gap: 0 1.5em;
  width: 80%;
}

.play-sound {
  box-sizing: border-box;
  padding: 0.5em;
  border-radius: 2em;
  vertical-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.2s ease-in-out 0s;

  &:hover {
    background-color: $primary-color;
    color: $foreground-color;
    text-indent: 1em;
    cursor: pointer;
    overflow: visible;
    transform: translateX(100);
  }
}
